@use '../Fonts/fira-sans.scss';

#pokemon-list-wrapper {
    background-color: #FFFFFF;
    border: 2px solid #E9E9E8;
    border-radius: 15px;
    margin: 15px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 100%;
    #sorter {
        display: flex;
        .stat {
            background-color: #EBEBEB;
            border: 1px solid #DBDBDB;
            box-sizing: border-box;
            color: #404040;
            flex-basis: 100%;
            font-family: 'fira-sans';
            font-size: 16px;
            font-weight: 700;
            padding: 8px 10px;
            &:first-child {
                flex-basis: 35%;
            }            
        }
    }
    #pokemon-list {
        height: calc(100vh - 351px);
        overflow-y: auto;
        padding-right: 15px;
    }
}
