@use '../Fonts/fira-sans.scss';
@use '../Fonts/fira-sans-bold.scss';

#pokemon-detail {
    background-color: #FFFFFF;
    border-radius: 15px;
    border-left: 1px solid #DDDDDD;
    box-sizing: border-box;
    flex-basis: 0;    
    transition: right 2s;    
    height: 100%;
    overflow-y: auto;       
    position: absolute; 
    padding: 15px;
    right: -600px;
    top: 0;
    width: 600px;
    z-index: 2;
    &.show {
        right: 0;
        @media only screen and (max-width: 1023px) {
            flex-basis: 100%;            
        }
    }     
    #close-button {
        background-image: url("../Images/close-button.svg");
        background-size: cover;
        cursor: pointer;
        height: 25px;
        left: 10;
        position: absolute;
        top: 10;
        width: 25px;
    }
    #pokemon-name {
        font-family: "fira-sans-bold";
        font-size: 40px;
        margin-top: 25px;
        text-align: center;
    }
    #pokemon-pic {
        display: block;
        margin: 30px auto 0;
        width: 65%;
    }
    .stats-title {
        border-bottom: 1px solid #DDDDDD;
        font-family: "fira-sans-bold";
        font-size: 32px;
        margin-top: 30px;
        padding-bottom: 16px;
    }
    .stat-row {
        align-items: center;
        border-bottom: 1px solid #DDDDDD;
        display: flex;
        padding: 7px 10px;
        .stat-label {
            color: #737373;
            flex-basis: 15%;
            font-family: "fira-sans";
            font-size: 14px;
            text-align: right;
        }
        .stat {
            color: #404040;
            font-family: "fira-sans";
            font-size: 16px;            
            padding-left: 15px;
            .type {
                display: inline-block;
                border-radius: 4px;
                color: #FFFFFF;
                font-size: 11px;
                margin-right: 3px;
                padding: 4px 10px;
                &.bug {
                    background-color: #AABB22;
                }
                &.dark {
                    background-color: #775544;
                }
                &.dragon {
                    background-color: #7766EE;
                }
                &.electric {
                    background-color: #FFCC33;
                }
                &.fairy {
                    background-color: #EE99EE;
                }
                &.fighting {
                    background-color: #BB5544;
                }
                &.fire {
                    background-color: #FF4422;
                }
                &.flying {
                    background-color: #8899FF;                
                }
                &.ghost {
                    background-color: #6666BB;
                }
                &.grass {
                    background-color: #77CC55;
                }
                &.ground {
                    background-color: #DDBB55;
                }
                &.ice {
                    background-color: #66CCFF;
                }
                &.normal {
                    background-color: #AAAA99;
                }
                &.poison {
                    background-color: #AA5599;
                }
                &.psychic {
                    background-color: #FF5599;
                }
                &.rock {
                    background-color: #BBAA66;
                }
                &.steel {
                    background-color: #AAAABB;
                }
                &.water {
                    background-color: #3399FF;
                }                
            }
        }
        .stat-bar {
            border-radius: 5px;            
            border: 1px solid #A0E515;
            flex: 1;
            margin: 0 15px;
            .stat-bar-value {
                background: repeating-linear-gradient(
                    45deg,
                    #FFDD57,
                    #FFDD57, 10px,
                    #A0E515 10px,
                    #A0E515 20px
                );                
                height: 15px;                
            }
        }
    }
}